.content {
    margin: 8px;
    padding: 8px;
}

.content-bj {
    background: #fff;
    margin: 15px;
    padding: 15px;
}

.center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-scale-8 {
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.90);
}

.font-color-white {
    color: #fff;
}

.font-color-gray {
    color: #666;
}

.font-color-darkgray {
    color: darkgray;
}

.font-color-black {
    color: #000;
}

.font-color-blue {
    color: #3b87ce;
}

.font-color-red {
    color: #de4565;
}

.font-color-green {
    color: #68c7a4;
}

.font-color-yellow {
    color: #eacc6c;
}

.font-color-2a547b {
    color: #2a547b;
}

.font-color-7f8c97 {
    color: #7f8c97;
}

.background-color-red {
    background-color: #de4565;
}

.background-color-green {
    background-color: #68c7a4;
}

.background-color-yellow {
    background-color: #eacc6c;
}

.background-color-blue {
    background-color: #3b87ce;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.border-top {
    border-top: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

.border {
    border: 1px solid #ddd;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-right-none {
    margin-right: 0 !important;
}

.margin-left-none {
    margin-left: 0 !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.padding-right {
    padding-right: 15px;
}

.padding-left {
    padding-left: 15px;
}

.padding-top {
    padding-top: 15px;
}
.padding0{
	padding: 0 !important;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-right-none {
    padding-right: 0 !important;
}

.padding-left-none {
    padding-left: 0 !important;
}

.padding-top-none {
    padding-top: 0 !important;
}

.padding-bottom-none {
    padding-bottom: 0 !important;
}

.padding-15 {
    padding: 15px;
}
.padding-10 {
    padding: 10px;
}
.margin-10 {
    margin: 15px;
}

.col-line-height {
    line-height: 26px;
}

.border-right-dashed {
    border-right: 1px dashed #d9d9d9;
}

.border-top-dashed {
    border-top: 1px dashed #d9d9d9;
}

.circle-4 {
    width: 4px;
    height: 4px;
    background-color: #de4545;
    border-radius: 4px;
}

.ant-modal {
    top: 15px !important;
    padding-bottom: 0 !important;
}

/*卡片*/
.content-title {
    height: 25px;
    margin: 10px 0;
}

.content-title .title-left {
    color: #438fd3;
    font-size: 16px;
    padding-left: 8px;
    border-left: 4px solid #438fd3;
}

.content-box, .content-box-inline {
	
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

.content-box-inline {
    margin-top: 15px;
    padding-top: 40px;
}

.content-box-inline .content-title {
    margin: 0;
    margin-top: -30px;
    margin-left: -20px;
}

.content-box .content-title-sub {
    margin: 0 -15px;
    padding: 0 15px;
    line-height: 30px;
    margin-top: -15px;
}

.content-box-bottom {
    height: 32px;
    line-height: 32px;
}

.content-box-bottom .content-box-bottom-txt > div {
    float: left;
}

/*圆形*/
.content-radius {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
}

.icon-size {
    font-size: 20px;
}

/*输入框样式调整*/
.form-group label {
    height: 35px;
    font-size: 14px;
    display: block;
    line-height: 35px;
}

.form-group input {
    height: 35px;
    font-size: 14px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.cursor {
    cursor: pointer;
}
.text-overflow {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.word-wrap{
	word-wrap:break-word
}