<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>随风</title>
   <link rel="shortcut icon" href="./public/image/move.ico">
   <link rel="stylesheet" href="//at.alicdn.com/t/font_507257_65dg7cj4df0i19k9.css">
   <link rel="stylesheet" href="/index.css" />
</head>
<body>
   <div id="root"></div>
</body>
</html>
